.App {
  text-align: center;
}

.main-grid {
  display: grid;
  grid-template-columns: 6vw 94vw;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.feed-card {
  width: 40vw;
  margin-bottom: 20px;

}

.feed-card img {
  width: 40vw
}

.display-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.explore-post {
  width: 25vw;
  margin: 10px
}

.explore-post img {
  width: 25vw;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navlink {
  max-width: 3vw;
  margin: 5px;
}

.sticky-nav {
  max-width: 6vw;
  position: sticky;
  left: 0;
  height: 100vh;
  border-right: 1px solid black;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalX {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: 50vh;
  background-color: white;
}

.modal img{
  height: 50vh;
}

.modal-info {
  height: 50vh;
  width: 20vw;
  padding-left: 20px;
  overflow: auto;
}

.modal-info img {
  width: 35px;
  height: 35px;
  border-radius: 50%
}

.username {
  font-weight: bold;
  font-size: .80em
}

.body {
  font-size: .80em
}

.hr {
  background: black;
  height: 1px;
  border: none;
  width: 20vw
}

.comment {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}