.App {
  text-align: center;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 19fr;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  margin-top: 10px;
}

.feed-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.feed-card {
  width: 40vw;
  margin-bottom: 20px;

}

.feed-card img {
  width: 40vw
}

.display-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.explore-post {
  width: 25vw;
  margin: 10px
}

.explore-post img {
  width: 25vw;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


  height: 100%;
  width: 8vw;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid black;
  max-width: 8vw;
}

.navlink {
  max-width: 3vw;
  margin-top: 20px;
  margin-left: 2.5vw;
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalX {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: 50vh;
  background-color: white;
}

.modal-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50vw;
  height: 50vh;
  background-color: white;
}

.modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-form-div{
  margin: 20px
}

.modal img{
  height: 50vh;
}

.modal-info {
  height: 50vh;
  width: 20vw;
  padding-left: 20px;
  overflow: auto;
  position: relative;
}

.modal-info img {
  width: 35px;
  height: 35px;
  border-radius: 50%
}

.post-delete-button {
  position: absolute;
  bottom: 1vh;
  left: 9vw;
}

.username {
  font-weight: bold;
  font-size: .80em
}

.body {
  font-size: .80em
}

.hr {
  background: black;
  height: 1px;
  border: none;
  width: 20vw
}

.comment {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.post-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.post-image img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.profile {
  display: flex;
  flex-direction: column;
}

.profile-header {
  display: flex;
  width: 80vw;
  margin-bottom: 40px;
}

.profile-img-wrapper {
  width: 200px;
}

.profile-img-wrapper img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-username {
  font-size: 2em;
}

.stats {
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profile-feed {
  display: flex;
  flex-wrap: wrap;
}